body {
    display: flex;
    background: #006c67;
    margin: 0px;
}
p {
    color: #ffebc6;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#content {
    width: 100vw;
}
#content > li {
    width: 100%;
}
#about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logos {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    align-items: center;
    justify-content: center;
    
}
.logos > *{
    margin: 5px;
}